.ng-autocomplete {
  width: 600px !important;
}

section{
  font-family: 'Segoe UI Regular';
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #84cad6;
  background-size: cover;
}

.center {
  margin: auto;
  width: 50%;
  padding: 20px;
}
.top{
  width: 100%;
  margin-top: 200px;
}
.search-input{
  margin-right: 487px;
  margin-left: auto;
}


.col-xl-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 30%;
}

::ng-deep .autocomplete-container ::ng-deep .input-container input {
    width: 600px !important;
    height: 50px !important;
    border-radius: 16px;
}
::ng-deep .autocomplete-container ::ng-deep .not-found div {
  line-height: 2.4 !important;
}

.title{
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  margin: 0 0 30px;
  float: left;
  margin-top: -4px;
  padding: 50px;
}
.center-title{
  width: 100%;
  margin-bottom: 0px;
}
.sub-title{
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  text-align: center;
}
.sub-title1{
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-align: center;
}
::ng-deep .lblcolor{
  color: rgb(184, 11, 11) !important;
}
.newspaper {
  column-count: 3;
  column-gap: 40px;
}


.box h3{
  text-align:center;
  position:relative;
  top:60px;
}
.box {
  width:100%;
  height:200px;
  background:#FFF;
  margin:60px auto;
}
/*==================================================
 * Effect 1
 * ===============================================*/
.effect1{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}
.companytitle{
    padding: 16px;
    margin-bottom: -66px;
}
