<section>



    <p class="title">Stocks</p>


    <div class="center">

        <div class="row top">
            <div class="center-title">
                <p class="sub-title">The easiest way to buy <br />and sell stocks</p>
                <p class="sub-title1">Stock analysis and screening tool for investors in india</p>
            </div>

            <div class="col-md-4 mt-5 search-input">
                <div class="ng-autocomplete">
                    <ng-autocomplete [data]="stockList" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.companyName"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
        </div>
 
 
        <div class="box effect1" *ngIf="showDetails">
            <h1 class="companytitle">{{stockDetails.companyName}}</h1>
            <div class="box effect1 row">
                 <div class="mt-3 col-xl-6 col-lg-12 col-md-12 col-12 p-0">
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>Market Cap </span></p>
                         </div>
                         <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                             <p><span class="lblcolor">&#8377; {{stockDetails.marketCap}}</span></p>
                         </div>
                     </div>
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>Current Price </span></p>
                         </div>
                         <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                             <p><span class="lblcolor">&#8377; {{stockDetails.currentMarketPrice}}% </span></p>
                         </div>
                     </div>
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>Stock P/E </span></p>
                         </div>
                         <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                             <p><span class="lblcolor">{{stockDetails.stockPE}}%</span></p>
                         </div>
                     </div>
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>Debt </span></p>
                         </div>
                         <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                             <p><span class="lblcolor">&#8377; {{stockDetails.debt}}</span></p>
                         </div>
                     </div>
                 </div>
                 <div class=" mt-3 col-xl-6 col-lg-12 col-md-12 col-12 p-0">
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>Divident Yield </span></p>
                         </div>
                         <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                             <p><span class="lblcolor">{{stockDetails.dividendYield}}%</span></p>
                         </div>
                     </div>
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>ROCE </span></p>
                         </div>
                         <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                             <p><span class="lblcolor">{{stockDetails.roce}}% </span></p>
                         </div>
                     </div>
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>ROE </span></p>
                         </div>
                         <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                             <p><span class="lblcolor">{{stockDetails.roePreviousAnnum}}%</span></p>
                         </div>
                     </div>
                  
                 </div>
                 <div class="mt-3 col-xl-6 col-lg-12 col-md-12 col-12 p-0">
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>Debt Equality </span></p>
                         </div>
                         <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                             <p><span class="lblcolor">{{stockDetails.debtToEquity}}%</span></p>
                         </div>
                     </div>
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>Eps </span></p>
                         </div>
                         <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                             <p><span class="lblcolor">&#8377; {{stockDetails.eps}} </span></p>
                         </div>
                     </div>
                     <div class="row m-0 mb-3">
                         <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                             <p><span>Reserves </span></p>
                         </div>
                         <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                             <p><span class="lblcolor">&#8377; {{stockDetails.reserves}}</span></p>
                         </div>
                     </div>
                  
                 </div>
             </div>
        </div>
        

    



    </div>
</section>